{% extends 'base.html.twig' %}

{% block title %}Materiel entrant{% endblock %}

{% block body %}
<div class=" text-center">
    <h3 style="margin:100px 0px 50px 0px;font-weight: bolder;" class="text-light">MATERIEL ENTRE</h3>
    <div class="row text-uppercase" style="height: 50px;">
        <div class="col-lg-3">
            <span class="step-detail bg-success text-light">Choix du fournisseur</span>
        </div>
        <div class="col-lg-3">
            <span class="step-detail">Commande <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div>
        <div class="col-lg-3">
            <span class="step-detail">Vérification <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div>
        <div class="col-lg-3">
            <span class="step-detail">Validation <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div> 
    </div>
</div>
<div class="example-wrapper">
    <a href={{ path('fournisseur_new') }} class="btn btn-primary float-right">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Ajouter un fournisseur
    </a>
    <br>
    <br>
    <h5 class="text-uppercase text-light">Choisissez le Fournisseur concerne</h5>
    <br>
    <form action="{{ path('choice_fournisseur') }}" method="post">
        <div class="form-group">
            <label for=""></label>
            <select  class="custom-select" name="fournisseur" id="" required>
             {% for fournisseur in fournisseurs %}
                 <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
             {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-outline">Continuer <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </form>
   
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}  
    <script>
        // active current page 
        $(document).ready(()=>{
            activeCurrentPage('enter');
        });
        //end
    </script>
{% endblock %}