<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <style>
        table,th,td{
            border:1px solid #000;
            border-collapse: collapse;
        }
        table{
            width: 90%;
            margin: 10px auto;
            font-size: 15px;
            text-align: center;
            border: none;
        }
        thead{
            text-transform: uppercase;
        }
        ul>li{
            list-style-type: none;
            padding-bottom: 5px;
        }
        ul>li>strong{
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div style="letter-spacing: 2px; text-align: center;margin-bottom: 70px;font-weight: bolder; font-size: 25px;">
      FACTURATION <br>
      ********************
    </div>
    <div class="row">
        <ul  style="width: 300px;">
            <li class="item">
                        <strong>N° Facture :</strong> {{ numero }}
            </li>
            <li class="item">
                <strong>Nom du Fournisseur:</strong> 
                {% if fournisseur !=null %}
                    {{ fournisseur.nom }}
                {% endif %}
            </li>
            <li class="item">
                <strong>Date:</strong> {{ date }}
            </li>
        </ul>
        <h4 style="text-align: center;text-transform: uppercase;text-decoration: underline;">Liste des materiels commande</h4>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Quantite</th>
                        <th>Prix unitaire</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for facture in facture %}
                    <tr>
                        <td>{{ facture.materiel.designation }}</td>
                        <td>{{ facture.quantite }}</td>
                        <td>{{ facture.materiel.prixUnitaire }}</td>
                        <td>{{ facture.materiel.prixUnitaire * facture.quantite}}</td>
                    </tr>
                    {% set total = total + facture.materiel.prixUnitaire * facture.quantite %}
                    {% endfor %}
                    <tr>
                        <td colspan="2" style="border: none;"></td>
                        <td style="font-weight: bolder;background-color: grey;">TOTAL</td>
                        <td style="font-weight: bolder;background-color: grey;">{{ total }} Ariary</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div style="margin-left: 35px;">
            <span style="text-transform: uppercase; letter-spacing:2px;font-size: 9px;font-weight: bolder;">
                 <strong>prix total :</strong> "{{ prix_en_lettre }} Ariary"
                </span>
                <br>
                <br>
                <br>
                <div style="font-size: 12px; text-decoration: underline;">
                    <span style="font-style: italic;float: left;">Signature du responsable</span>
                    <span style="font-style: italic; float: right; margin-right: 35px;">Signature du fournisseur</span>
                </div>
        </div>
    </div>
    
</body>
</html>
        




