
{% extends 'base.html.twig' %}

{% block title %}Hello MaterielEntrantController!{% endblock %}

{% block body %}
<div class=" text-center">
    <h3 style="margin:100px 0px 50px 0px;font-weight: bolder;" class="text-light">MATERIEL SORTIE</h3>
    <div class="row text-uppercase" style="height: 50px;">
        <div class="col-lg-3">
            <span class="step-detail bg-danger text-light">Choix du personnel</span>
        </div>
        <div class="col-lg-3">
            <span class="step-detail bg-danger text-light">Materiel sortie <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div>
        <div class="col-lg-3">
            <span class="step-detail  bg-danger text-light">Vérification <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div>
        <div class="col-lg-3">
            <span class="step-detail">Validation <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div> 
    </div>
</div>
    <br>
    <br>
        <div class="row bg-light">
            <div class="col-sm-12">
                <h4 class="text-center">Liste des materiet sortis</h4>
                    <table class="table  text-center">
                        <thead class="text-light bg-primary">
                            <tr>
                                <th>Designation</th>
                                <th>Quantite</th>
                                <th>Prix unitaire</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set total = 0 %}
                            {% for commande in commandes %}
                            {% if commande.materiel != null %}  
                                <tr>
                                    <td>{{ commande.materiel.designation }}</td>
                                    <td>{{ commande.quantite }}</td>
                                    <td>{{ commande.materiel.prixUnitaire }}</td>
                                    <td>{{ commande.materiel.prixUnitaire * commande.quantite}}</td>
                                    <td>
                                        <a name="" id="" class=" text-danger" href="{{ path('delete_session_materiel', {'id': commande.materiel.id}) }}" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                {% set total = total + commande.materiel.prixUnitaire * commande.quantite %}
                            {% endif %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">Liste vide</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="col-md-12 mb-2">
                <a href="{{ path('choice_personnel') }}" class="btn btn-warning float-left btn-outline"> 
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Ajouter commande 
                </a>
                {% if total != 0 %}
                <a href="{{ path('session_valid_sortie') }}" class="btn btn-primary float-right btn-outline"> 
                    Validation <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 
                </a> 
                {% endif %}
                <h4 class="text-danger float-right " style="margin-right: 100px;">Total : {{ total }} Ar</h4>
            </div>
        </div>
       

{% endblock %}
{% block javascripts %}
    {{ parent() }}  
    <script>
        // active current page 
        $(document).ready(()=>{
            activeCurrentPage('out');
        });
        //end
    </script>
{% endblock %}



