<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            App*web
        {% endblock %}
    </title>
    {% block stylesheets %}
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{asset('js/sweetalert.js')}}"></script>
   
    {% endblock %}
    {% block styles %}
    <style>
        .container-specificed{
            width: 1000px;
            margin-top:100px;
            background-color: rgb(250, 249, 249);
        }
        #smaller{
            font-size: 11px;
        }
        .active>.nav-link{
            background-color: rgb(56, 172, 180);
            
        }
    </style>
    {% endblock %}
</head>
<body class="bg-gray" id="smaller" style="background-image: url({{ asset('images/bg.jpg') }});background-attachment: fixed;">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-image: url({{ asset('images/bg.jpg') }})">
            <a class="navbar-brand text-uppercase" id="smaller" href="#">Gestion du material</a>
            <a class="navbar-toggler d-lg-none text-light"  data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item " id="dashboard">
                        <a class="nav-link" href="{{ path('admin') }}">DASHBOARD <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="personnel">
                        <a class="nav-link" href="{{ path('personnel_index') }}"><i class="fa fa-user" aria-hidden="true"></i> Personnel</a>
                    </li>
                    <li class="nav-item" id="fonction">
                        <a class="nav-link" href="{{ path('fonction_index') }}"><i class="fa fa-forward
                            " aria-hidden="true"></i> Fonction</a>
                    </li>
                    <li class="nav-item" id="materiel">
                        <a class="nav-link" href="{{ path('materiel_index') }}"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></i> Materiel</a>
                    </li>
                    <li class="nav-item" id="fournisseur">
                        <a class="nav-link" href="{{ path('fournisseur_index') }}"><i class="fa fa-caret-right" aria-hidden="true"></i></i> Fourmisseur</a>
                    </li>
                   
                    <li class="nav-item" id="enter">
                        <a class="nav-link text-success" href="{{ path('materiel_entrant') }}"><i class="fa fa-sort" aria-hidden="true"></i> Bon Entrant</a>
                    </li>
                    <li class="nav-item" id="out">
                        <a class="nav-link text-danger" href="{{ path('materiel_sortant') }}"><i class="fa fa-sort" aria-hidden="true"></i>Materiel Sortie</a>
                    </li>
                    <li class="nav-item" id="historique">
                        <a class="nav-link text warning" href="{{ path('sortant_list') }}"> <i class="fa fa-history" aria-hidden="true"></i> Historique</a>
                    </li>
                     <li class="nav-item" id="profile">
                        <a class="nav-link text warning" href="{{ path('user_profile') }}"> <i class="fas fa-user-check    "></i> Profile</a>
                    </li>
                    <li class="nav-item" id="password">
                        <a class="nav-link text warning" href="{{ path('edit_password') }}"> <i class="fa fa-key " aria-hidden="true"></i>Changer le mot de pass</a>
                    </li>
                </ul>
                <span class="my-2 my-lg-0 text-danger">
                    <a href="{{ path('app_logout') }}" class="text-danger btn " id="smaller"><i class="fa fa-sign-in" aria-hidden="true"></i>Deconnexion</a>
                </span>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 70px;" >
        <!-- body content -->
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
    <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script>
        function activeCurrentPage(page){
            $('.nav-item').removeClass('active');
            $('#'+page+'').addClass('active');
        }
    </script>
    {% endblock %}
</body>
</html>