{% extends 'base.html.twig' %}

{% block title %}Materiel index{% endblock %}
{% block styles %}
 {{ parent() }}
{% endblock %}

{% block body %}
    
<div class="container container-specificed">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-center text-uppercase mp-5">Liste de fournisseur</h4>
            <a href={{ path('fournisseur_new') }} class="btn btn-primary btn-sm float-right">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>Ajouter
            </a>
            <table class="table shadow">
        <thead class="text-light bg-primary text-uppercase">
            <tr>
                <th>Nom</th>
                <th>Contact</th>
                <th>Date de creation</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.Contact }}</td>
                <td>{{ fournisseur.createAt ? fournisseur.createAt|date("d/m/Y"): '' }}</td>
                <td>
                    <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="text-warning"><i class="fas fa-edit    "></i></a>
                </td>
                <td>
                    <form method="post" id="form{{ fournisseur.id }}" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" onsubmit="return confirm('Etês-vous de vouloir supprimer?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
                        <button type="submit" class="text-danger" style="border: none;background-color: #fff;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}  
    <script>
        // active current page 
        $(document).ready(()=>{
            activeCurrentPage('fournisseur');
        });
        //end
    </script>
{% endblock %}